<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <strong>H&L</strong> - Investimentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <img alt="img emprestimo" src="assets/img/emprestimo.jpg" />
    <ion-card-header>
      <ion-card-title>Simulação de Empréstimo Bancário</ion-card-title>
      <ion-card-subtitle>Calcule o valor futuro do seu investimento, considerando o valor inicial, a taxa de retorno anual e o número de meses de aplicação. </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-input label="Valor inicial investido" type="number" label-placement="floating" fill="outline" placeholder="Digite o valor"></ion-input><br>

      <ion-input label="Taxa de retorno anual" label-placement="floating" fill="outline" placeholder="Digite a taxa"></ion-input><br>

      <ion-input label="Período de investimento" label-placement="floating" fill="outline" placeholder="Digite o tempo"></ion-input><br>

      <ion-button color="secondary" expand="block" (click)="calcularInvestimento()">Calcular valor final</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="isCardVisible" color="secondary">
    <ion-card-header>
      <ion-card-title>Resultado:</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> Card Content </ion-card-content>
  </ion-card>

</ion-content>
