<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <strong>H&L</strong> - Empréstimos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="img emprestimo" src="assets/img/emprestimo.jpg" />
    <ion-card-header>
      <ion-card-title>Simulação de Empréstimo Bancário</ion-card-title>
      <ion-card-subtitle>
        Calcule o valor das parcelas do seu empréstimo, considerando o valor, a taxa de juros anual e o número de meses.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-input
        [(ngModel)]="valor"
        name="valor"
        label="Valor do empréstimo"
        type="number"
        label-placement="floating"
        fill="outline"
        placeholder="Digite o valor">
      </ion-input><br>

      <ion-input
        [(ngModel)]="taxa"
        name="taxa"
        label="Taxa de juros anual (%)"
        type="number"
        label-placement="floating"
        fill="outline"
        placeholder="Digite a taxa">
      </ion-input><br>

      <ion-input
        [(ngModel)]="meses"
        name="meses"
        label="Número de meses a pagar"
        type="number"
        label-placement="floating"
        fill="outline"
        placeholder="Digite o tempo">
      </ion-input><br>

      <ion-button color="secondary" expand="block" (click)="calcularEmprestimo()">
        Calcular
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="isCardVisible" color="secondary">
    <ion-card-header>
      <ion-card-title>Resultado:</ion-card-title>
      <ion-card-subtitle>Valor estimado da parcela mensal:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      R$ {{ resultado | number:'1.2-2' }}
    </ion-card-content>
  </ion-card>
</ion-content>
